
.App {
  text-align: center;
  display: flex;
  flex:1;
  flex-direction: column;
}

.App-logo {
  animation: none;
  height: 80px;
  flex:0;
}
.logo{
  flex:1;
}
.App-header {
  display: flex;
  flex:1;
  background-color: #fff;
  height: 100px;
  padding: 20px;
  color: #e54560;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-title {
  display: flex;
  font-size: 1.5em;
  margin-left: 10px;
  height: 80px;
  text-align: center;
  align-items: center;
  font-weight: strong;
}

.App-intro {
  font-size: large;
}
