h1{
 
}

.App {
  text-align: center;
  display: flex;
  flex:1;
  flex-direction: column;
}

.App-logo {
  animation: none;
  height: 80px;
  flex:0;
}

.App-header {
  flex:0;
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: #e54560;
  flex-direction: row;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  flex: 1;
}

.App-intro {
  font-size: large;
}
